<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Pie</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://firebasestorage.googleapis.com/v0/b/mypie-6fbc8.appspot.com/o/favicon-32x32.png?alt=media&token=28f0a59e-a5b2-4912-a9f3-7a1db3ebf68b"
    />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="section">
        <header>
          <Transition>
            <div class="hover">
              <p v-if="isActive" @click="all" :class="showAll ? 'btn' : 'none'">
                All
              </p>
              <div class="line"></div>
            </div>
          </Transition>
          <Transition>
            <div class="hover">
              <p
                v-if="isActive"
                @click="Movies"
                :class="showMovies ? 'btn' : 'none'"
              >
                Movies
              </p>
              <div class="line"></div>
            </div>
          </Transition>
          <Transition>
            <div class="hover">
              <p
                v-if="isActive"
                @click="Music"
                :class="showMusic ? 'btn' : 'none'"
              >
                Music
              </p>
              <div class="line"></div>
            </div>
          </Transition>
          <Transition>
            <div class="hover">
              <p
                v-if="isActive"
                @click="Books"
                :class="showBooks ? 'btn' : 'none' "
              >
                Books
              </p>
              <div class="line"></div>
            </div>
          </Transition>
          <Transition>
            <div class="hover">
              <p
                v-if="isActive"
                @click="Hobbies"
                :class="showHobbies ? 'btn' : 'none' "
              >
                Hobbies
              </p>
              <div class="line"></div>
            </div>
          </Transition>
          <Transition>
            <div class="hover">
              <p
                v-if="isActive"
                @click="Success"
                :class="showSuccess ? 'btn' : 'none' "
              >
                Success
              </p>
              <div class="line"></div>
            </div>
          </Transition>
          <Transition>
            <div class="hover">
              <p
                v-if="isActive"
                @click="Habits"
                :class="showHabits ? 'btn' : 'none' "
              >
                Habits
              </p>
              <div class="line"></div>
            </div>
          </Transition>
          <Transition>
            <div class="hover">
              <p
                v-if="isActive"
                @click="Daily"
                :class="showDaily ? 'btn' : 'none' "
              >
                Daily
              </p>
              <div class="line"></div>
            </div>
          </Transition>
          <Transition>
            <div class="hover">
              <p
                v-if="isActive"
                @click="Goal"
                :class="showGoal ? 'btn' : 'none' "
              >
                Goal
              </p>
              <div class="line"></div>
            </div>
          </Transition>
          <Transition>
            <div class="hover">
              <p
                id="btnLocked"
                v-if="isActive"
                @click="password"
                :class="showLocked ? 'btn' : 'none' "
              >
                🔒
              </p>
              <div class="line"></div>
            </div>
          </Transition>
        </header>
        <div v-if="!isActive" class="text bigText">Welcome to MyPie!</div>
        <button v-if="!isActive" class="btn" @click="menu">{{click}}</button>

        <!--all-->
        <div class="wrap" v-if="showAll" v-for="card in firebaseData">
          <div class="mini">
            <h1 class="gradient">{{card.title}}</h1>
            <p>{{card.text}}</p>
          </div>
          <img class="image" :src="card.img" />
        </div>
        <!--Movie-->
        <div id="movie" v-if="showMovies" v-for="card in movieList">
          <div id="movieBox">
            <div class="mini moviesMini">
              <h1>{{card.title}}</h1>
              <p class="">{{card.text}}</p>
              <h2>🎥</h2>
            </div>
            <img class="image" :src="card.img" />
          </div>
        </div>
        <!--Music-->
        <div class="wrap" v-if="showMusic" v-for="card in musicList">
          <div class="mini">
            <h1>{{card.title}}</h1>
            <p>{{card.text}}</p>
          </div>
          <img class="image" :src="card.img" />
        </div>
        <!--Books-->
        <div id="books" v-if="showBooks" v-for="card in booksList">
          <div id="booksCard">
            <img class="image" :src="card.img" />
            <div class="lol">
              <h1>{{card.title}}</h1>
              <p>{{card.text}}</p>
              <h3>📚</h3>
            </div>
          </div>
        </div>
        <!--Success-->
        <div class="wrap" v-if="showSuccess" v-for="card in successList">
          <div class="mini">
            <h1 class="gradient">{{card.title}}</h1>
            <p>{{card.text}}</p>
          </div>
          <img class="image" :src="card.img" />
        </div>
        <!--Habits-->
        <div class="wrap" v-if="showHabits" v-for="card in habitsList">
          <div class="mini">
            <h1 class="gradient">{{card.title}}</h1>
            <p>{{card.text}}</p>
          </div>
          <img class="image" :src="card.img" />
        </div>
        <!--Hobbies-->
        <div class="wrap" v-if="showHobbies" v-for="card in hobbiesList">
          <div class="mini">
            <h1 class="gradient">{{card.title}}</h1>
            <p>{{card.text}}</p>
          </div>
          <img class="image" :src="card.img" />
        </div>
        <!--Goal-->
        <div class="wrap" v-if="showGoal" v-for="card in goalList">
          <div class="mini">
            <h1 class="gradient">{{card.title}}</h1>
            <p>{{card.text}}</p>
          </div>
          <img class="image" :src="card.img" />
        </div>
        <!--Daily-->
        <div id="daily" v-if="showDaily" v-for="card in dailyList">
          <div id="dailyMini">
            <h1>{{card.title}}</h1>
            <p>{{card.text}}</p>
          </div>
          <img class="image" :src="card.img" />
        </div>
        <!--Locked-->
        <div id="locked" v-if="showLocked" v-for="card in lockedList">
          <div id="lockedMini">
            <h1>{{card.title}}</h1>
            <p>{{card.text}}</p>
          </div>
          <img class="image" :src="card.img" />
        </div>
      </div>
    </div>

    <script type="module" src="script.js"></script>
  </body>
</html>
