* {
  margin: 0;
  padding: 0;
  transition-duration: 0.3s;
  font-family: monospace, cursive;
  scroll-snap-type: y mandatory;
}
.section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-type: y mandatory;
}
.bigText {
  font-size: 5rem;
  margin-bottom: 5rem;
}
.text {
  font-weight: 800;
  letter-spacing: 1px;
  padding: 3rem;
  text-align: center;
  background-image: linear-gradient(to right, #ffafbd, #ffc3a0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 1s linear infinite;
  background-size: 300% 300%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.gradient {
  font-weight: 800;
  letter-spacing: 1px;
  padding: 3rem;
  /* margin-bottom: 3rem; */
  text-align: center;
  background-image: linear-gradient(to right, #ffafbd, #cd8155);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 1s linear infinite;
  background-size: 300% 300%;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
.text:hover {
  transform: translate(-10px, -10px);
}

.btn {
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background-color: #ffc3a0;
  color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 5rem;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 0.14s ease-out;
  white-space: nowrap;
}

.btn:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px, -4px);
}
.btn:active {
  background-color: aliceblue;
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}
.wrap {
  scroll-snap-align: start;
  width: 100%;
  min-height: 100vh;
  gap: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.image {
  object-fit: cover;
  max-width: 300px;
  max-height: 50vh;
}
.pink {
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}
.rainbow {
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px,
    rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px,
    rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px,
    rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px,
    rgb(255, 85, 85) 40px -40px;
}
.mini {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}
header {
  padding: 1rem;
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.hover {
  padding: 1rem;
  overflow: hidden;
}
.hover p {
  font-size: 1.5rem;
}
.line {
  width: 100%;
  height: 5px;
  background-color: #ffafbd;
  transform: translateX(-150px);
}
.hover:hover > .line {
  transform: translateX(0px);
}
#movie {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #fffbd5, #b20a2c);
  background-size: 300% 300%;
  animation: back 10s infinite linear;
  min-height: 100vh;
  scroll-snap-align: start;
}
#movieBox {
  justify-content: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.232);
  max-height: 80vh;
  padding: 3rem;
  gap: 3rem;
  align-items: center;

  /* border: black solid 3px; */
}
#movieBox h1 {
  padding: 2rem;
}
h2 {
  font-size: 50px;
  transform: translate(-300px, -300px) rotate(-30deg);
}

#movie img {
  max-width: 300px;
  max-height: 50vh;
  object-fit: cover;
  box-shadow: #ffffff 5px 5px, rgba(221, 205, 215, 0.3) 10px 10px,
    rgba(205, 174, 194, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}
@keyframes back {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
#books {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #4ca1af, #c4e0e5);
  background-size: 300% 300%;
  animation: back 20s infinite linear;
  min-height: 100vh;
  scroll-snap-align: start;
}
#booksCard {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  border: black 1px solid;
  padding: 2rem;
  background-color: rgb(228, 232, 196);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.lol h1 {
  margin-bottom: 1rem;
}

#booksCard h3 {
  font-size: 50px;
  transform: translate(100px, 100px);
}
#dailyMini {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
#daily {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 2rem;
}
#daily:hover {
  transform: translate(-10px, -10px);
  background-color: aliceblue;
}
#btnLocked {
  font-size: 40px;
}
